.HomePage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 30px;
    margin: 10px 0 10px 0;
    padding: 0 20px;
    flex-grow: 1
}

.error-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 2.2rem;
}

@media (max-width: 768px) {
    .container {
        padding: 0 8px;
        gap: 2px;
    }
    
    .error-msg {
        font-size: 1.2rem;
    }
}